@model IEnumerable<expence_Tracer.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}



<div class="row">
    <div class="col-md-7">
        <ejs-grid id="Transactions" dataSource="@Model" gridLines="None"
                  allowsorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="6"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" Field="Date" width="110px"
               type="date" format="MMM-dd-yy" textAlign="Right"></e-grid-column>
                <e-grid-column headerText="Amount" Field="FormattedAmount" textAlign="Right" width="110px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" >
            <i class="fa-brands fa-elementor fa-2xl"></i>
        </div>
    </div>
</div>


<script id="actionColumnTemplate" type="text/x-template">
     <div class="d-flex flex-row justify-content-start">
          <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
             <i class="fa-solid fa-pen fa-lg"></i>
         </a>
         <form action="/Transaction/Delete/${TransactionId}"method="post">
    @Html.AntiForgeryToken()
           <button type="submit" class="btn btn-sm btn-link no-a-decoration"
               onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
               <i class="fa-solid fa-trash-can falg text-danger"></i>
           </button>

         </form>
    </div>
</script>
