@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item d-flex">
            <a id="manage" class="nav-link text-white me-4 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)?.Split('@')[0]</a>
  
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link text-white btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item d-flex">

        <a class="nav-link text-white me-4" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
   
        <a class="nav-link text-white " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
   

            
}
</ul>
